@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(./components/components.css);

html {
    scroll-behavior: smooth;
    color: var(--OFF-BLACK);
}

/* DARK MODE */

html[data-theme="dark"] .box-shadow-100 {
    box-shadow: 0 5px 2.5rem 2px var(--OFF-WHITE);
}

html[data-theme="dark"] .doc-body {
    --COLOR-PRIMARY-50-SHADE-1: #d7f8e318;
    background-color: var(--OFF-WHITE);
}

html[data-theme="dark"] .landing {
    --COLOR-PRIMARY-50-SHADE-1: #d7f8e318;
    background-color: var(--OFF-WHITE);
}

:root {
    --COLOR-PRIMARY-50-SHADE-1: #d7f8e379;
}

.component {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 3rem;
    border-radius: 5px;
    background-color: var(--COLOR-PRIMARY-50-SHADE-1);
    border: 1px solid var(--PRIMARY-200);
}

.component-vertical {
    flex-direction: column;
    align-items: flex-start;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.no-wrap {
    flex-wrap: nowrap;
}

/* LANDING PAGE */

.nav {
    display: flex;
}

.landing-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    flex-grow: 1;
}

.landing {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    background-color: var(--COLOR-SHADOW-PRIMARY-50);
    min-height: 100vh;
}

.hero-heading {
    font-size: 5.6rem;
    color: var(--OFF-BLACK);
}

.hero-section {
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero-img {
    width: 50%;
    object-fit: contain;
    opacity: 1;
}

.description {
    padding-bottom: 3rem;
    line-height: 3.2rem;
    font-size: 1.8rem;
}

.button-container {
    display: flex;
    gap: 2rem;
}

.hero-button-primary {
    padding: 1.5rem 2rem;
    font-size: 2.2rem;
    border: none;
    background-color: var(--PRIMARY-400);
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px var(--COLOR-SHADOW-PRIMARY-400);
}

.hero-button-secondary {
    padding: 1.5rem 2rem;
    font-size: 2.2rem;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--OFF-BLACK);
}

.box-shadow-100 {
    box-shadow: 0 5px 2.5rem 2px var(--PRIMARY-50);
}

/* DOCUMENTATION */

.doc-body {
    display: grid;
    grid-template-columns: 0 auto 1fr 0;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "navbar navbar navbar navbar"
        "... sidebar main ...";
    background-color: var(--COLOR-SHADOW-PRIMARY-50);
    height: 100vh;
}

.doc-nav {
    position: sticky;
    top: 0;
    grid-area: navbar;
    z-index: 9;
}

.doc-sidebar {
    grid-area: sidebar;
    overflow-y: scroll;
}

.doc-sidebar::-webkit-scrollbar {
    display: none;
}

.doc-main {
    grid-area: main;
    padding: 2rem;
    overflow-y: scroll;
}

.doc-header {
    margin: 0 0 2rem;
    font-size: calc(3rem + 1.5vw);
    color: var(--OFF-BLACK);
}

.doc-sub-header {
    margin: 2rem 0;
    font-size: calc(2rem + 0.75vw);
    color: var(--OFF-BLACK);
}

.doc-para {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 500;
    color: var(--DARK-GREY);
    margin: 2rem 0;
}

.doc-list {
    font-size: 1.6rem;
    list-style: none;
    color: var(--DARK-GREY);
    line-height: 2.6rem;
    padding: 0 2rem;
    font-weight: 500;
}

.text-highlight {
    color: var(--PRIMARY-500);
    font-weight: 700;
}

@media only screen and (min-width: 1900px) {
    :root {
        font-size: 75%;
    }
    .doc-body {
        grid-template-columns: auto 23rem 100rem auto;
    }
}

@media only screen and (min-width: 1200px) {
    .doc-body {
        grid-template-columns: auto 23rem 100rem auto;
    }
}

@media only screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-img {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        font-size: 50%;
    }

    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-img {
        width: 100%;
    }
}

.doc-scroller {
    -ms-overflow-style: none;
    overflow-y: scroll;
    scrollbar-color: var(--PRIMARY-400) transparent;
    scrollbar-width: thin;
}

.doc-scroller-hide {
    overflow-y: scroll;
    scrollbar-width: none;
}

.language-markup {
    -ms-overflow-style: none;
    overflow-y: scroll;
    scrollbar-color: var(--COLOR-SHADOW-PRIMARY-400) transparent;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--PRIMARY-400);
    border-radius: 99px;
}

::selection {
    color: var(--WHITE);
    background-color: var(--PRIMARY-400);
}

/* GRID EXAMPLE ELEMENTS */

.element-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 15rem;
    font-size: 1.6rem;
    background-color: var(--LIGHT-GREY);
    border: 1px solid var(--OFF-BLACK);
    border-radius: 3px;
}

.element-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 100%;
    font-size: 1.6rem;
    background-color: var(--LIGHT-GREY);
    border: 1px solid var(--OFF-BLACK);
    border-radius: 3px;
}

.element-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 10rem;
    font-size: 1.6rem;
    background-color: var(--LIGHT-GREY);
    border: 1px solid var(--OFF-BLACK);
    border-radius: 3px;
}
