
@import url(./components/components.css);

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

.container>h1{
    font-size: 3.2rem;
    margin:1rem 0;
}

.container>h2{
    font-size: 2.4rem;
}

.container{
    max-width: 800px;
    margin:auto;
    padding: 1.6rem;
    min-height: 100vh;
    background-color: #eee;
}

.component{  
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 3rem;
}

.component-vertical{
    flex-direction: column;
    align-items: flex-start;
}