input{
    color: var(--OFF-BLACK);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-field {
    font-size: 1.5rem;
    border: 0px;
    padding: 1rem;
    outline: 2px solid var(--GREY);
    background-color: transparent;
    transition: outline 0.3s ease-in;
}

.input-rounded {
    border-radius: 999px;
    padding-left: 2rem;
}

.input-field:focus-visible {
    outline-color: var(--OFF-BLACK);
}

.input-label {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--OFF-BLACK);
}

/* INPUT WITH MESSAGE AND COLORS */

.input-message {
    font-size: 1.2rem;
}

.input-color-error {
    outline: 2px solid var(--COLOR-ERROR);
}

.input-color-error + .input-message {
    color: var(--COLOR-ERROR-DARK);
}

.input-color-success {
    outline: 2px solid var(--COLOR-SUCCESS);
}

.input-color-success + .input-message {
    color: var(--COLOR-SUCCESS-DARK);
}

.input-color-warning {
    outline: 2px solid var(--COLOR-WARNING-DARK);
}

.input-color-warning + .input-message {
    color: var(--COLOR-WARNING-DARK);
}

/* INPUT SIZE PARENT */

.input-width-100 {
    width: 100%;
}

/* TEXTAREA */

.input-field-area {
    width: 100%;
    height: 17rem;
}
