

.avatar{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size:3rem;
    width: 7.6rem;
    background-color: var(--GREY);
    border-radius: 999px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
}

.avatar-size-xxl{
    font-size:5.4rem;
    width: 13rem;
    height: auto;
}

.avatar-size-xl{
    font-size:4.5rem;
    width: 11.2rem;
    height: auto;
}

.avatar-size-lg{
    font-size:3.6rem;
    width: 9.4rem;
    height: auto;
}

.avatar-size-sm{
    font-size:2.4rem;
    width: 5.8rem;
    height: auto;
    
}

.avatar-size-xs{
    font-size:1.8rem;
    width: 4rem;
    height: auto;
    
}

.avatar-image{
    display: flex;
    border-radius: 999px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.avatar-square,.avatar-square .avatar-image{
    border-radius: 5px;
}

.avatar-badge{
    position:absolute;
    box-sizing:content-box ;
    background-color:green;
    border-radius: 999px;
    border: 3px solid var(--COLOR-BORDER);
    width:20%;
    aspect-ratio: 1/1;
    bottom:2%;
    right:2%;
}

.avatar-shadow{
    box-shadow: 0px 5px 10px 0 var(--GREY);
}

.badge-online{
    background-color: var(--COLOR-SUCCESS-DARK);
}

.badge-dnd{
    background-color: var(--COLOR-ERROR-DARK);
}

.badge-idle{
    background-color: var(--COLOR-WARNING-DARK);
}




