
.flex{
    display:flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

.flex-column-reverse{
    flex-direction: column-reverse;
}

.flex-shrink-1{
    flex-shrink: 1;
}

.flex-grow-0{
    flex-grow: 0;
}

/* JUSTIFY CONTENT */

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-evenly{
    justify-content: space-evenly;
}

/* ALIGN ITEMS */

.align-items-start{
    align-items: flex-start;
}

.align-items-end{
    align-items: flex-end;
}

.align-items-center{
    align-items: center;
}

.align-items-baseline{
    align-items: baseline;
}

.align-items-stretch{
    align-items: stretch;
}
